{% extends "PicdumpDemoBundle::layout.html.twig" %}

{% block title "Albums" %}

{% block content %}
        <link rel="stylesheet" href="/bundles/picdumpdemo/css/zoomgallery.css" type="text/css" />
        <link rel="stylesheet" href="{{ asset('bundles/picdumpdemo/css/album.css') }}" />
        <script type="text/javascript" src="/bundles/picdumpdemo/js/hammer.js"></script>
        <script type="text/javascript" src="/bundles/picdumpdemo/js/jquery.hammer.js"></script>
        <script type="text/javascript" src="/bundles/picdumpdemo/js/zoomgallery.js"></script>
        <script type="text/javascript">
            $(document).ready(function() {
                $('.zoomgallery').zoomgallery();
            });
        </script>

    <div id="images_container">
    {% if albums is defined %}
        {% for album in albums %}
            {#<span>{{ album.name }} - {{ album.year }}</span>#}
            <a href="{{album.url}}">
                <img src="{{album.thumbnail | apply_filter('thumbs')}}"/>
            </a>
        {% endfor %}
    {% endif %}
    <div style="clear:both"></div>
    </div>
{% endblock %}

